{% extends "../sub_base.html" %}
{% block title %}Зарегистрировать учетную запись{% endblock %}
{% block sub_content %}

<form class="account-form" action="." method="post">
  {% csrf_token %}
  <h3 class="mb-2">Создать учетную запись</h3>
  <p class="mb-4">Это бесплатно и займет всего минуту.</p>

  {% if form.errors %}
  <p>Пожалуйста, исправьте следующие ошибки:</p>
  {% for field in form %}
  {% if field.errors %}
  <div class="alert alert-primary" role="alert">
    {{ field.label }}: {{ field.errors|striptags }}
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}

  <label>{{ form.user_name.label }}<span class="text-muted small">
      (Обязательно)</span></label>
  {{ form.user_name }}
  <label>{{ form.email.label}}<span class="text-muted small">
      (обязательно)</span></label>
  {{ form.email }}
  <label>{{ form.password.label}}<span class="text-muted mb-4">
    </span></label>
  <small class="form-text text-muted mb-4 small">
    Не менее 8 символов и 1 цифры
  </small>
  {{ form.password }}
  <label>{{ form.password2.label}}<span class="text-muted small">
      (Обязательно)</span></label>
  {{ form.password2 }}
  <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw500 w-100" type="submit">Зарегистрироваться</button>
  <p class="text-center">
    <a href="{% url "account:login" %}">У вас уже есть учетная запись?</a>
  </p>
</form>

{% endblock %}